{% extends "layout.html.twig" %}

{% block body %}
<div class="data-container">
    <table class="dataTable">
        <tr>
            <td valign="top" class="dataLabelLeft">{% if app.preferences.mode == 2 %}Club {% endif %}Name:</td>
            <td valign="top" class="data">{{ app.site_info.brewerPrefix }} {{ app.site_info.brewerFirstName }} {{ app.site_info.brewerMiddleName }} {{ app.site_info.brewerLastName }} {{ app.site_info.brewerSuffix }}</td>
        </tr>
        {% if app.preferences.mode == 1 and (app.site_info.brewerAge is not empty) %}
        <tr>
            <td valign="top" class="dataLabelLeft">Age:</td>
            <td valign="top" class="data">{{ app.site_info.brewerAge }}</td>
        </tr>
        {% endif %}
        {% if app.site_info.brewerCity is not empty %}
        <tr>
            <td valign="top" class="dataLabelLeft">Hometown:</td>
            <td valign="top" class="data">{{ app.site_info.brewerCity }}{% if (app.site_info.brewerCity is not empty) and (app.site_info.brewerState is not empty) %}, {% endif %}{{ app.site_info.brewerState }} {{ app.site_info.brewerCountry }}</td>
        </tr>
        {% endif %}
        {% if app.preferences.mode == 1 %}
            {% if app.site_info.brewerClubs is not empty %}
            <tr>
                <td valign="top" class="dataLabelLeft">Clubs:</td>
                <td valign="top" class="data">{{ app.site_info.brewerClubs }}</td>
            </tr>
            {% endif %}
            {% if app.site_info.brewerFavStyles is not empty %}
            <tr>
                <td valign="top" class="dataLabelLeft">Fav Styles:</td>
                <td valign="top" class="data">{{ app.site_info.brewerFavStyles }}</td>
            </tr>
            {% endif %}
            {% if app.site_info.brewerPrefMethod is not empty %}
            <tr>
                <td valign="top" class="dataLabelLeft">Method:</td>
                <td valign="top" class="data">{{ app.site_info.brewerPrefMethod }}</td>
            </tr>
            {% endif %}
        {% endif %}
        {% if app.site_info.brewerAbout is not empty %}
        <tr>
            <td valign="top" class="dataLabelLeft">Info:</td>
            <td valign="top" class="data">{{ app.site_info.brewerAbout }}</td>
        </tr>
        {% endif %}
        {% if app.site_info.brewerOther is not empty %}
        <tr>
            <td valign="top" class="dataLabelLeft">Other Info:</td>
            <td valign="top" class="data">{{ app.site_info.brewerOther }}</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}

{% block sidebar %}
    {{ sidebar }}
{% endblock %}